################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adelaide/bin/Debug
/.vs/slnx.sqlite
/Adelaide/obj/Debug/Adelaide.csprojAssemblyReference.cache
/.vs/Adelaide/v16/Server/sqlite3/db.lock
/.vs/Adelaide/v16/Server/sqlite3/storage.ide
/.vs/Adelaide/v16/Server/sqlite3/storage.ide-shm
/.vs/Adelaide/v16/Server/sqlite3/storage.ide-wal
/.vs/VSWorkspaceState.json
/Adelaide/obj/Release
/.vs/Adelaide/v16
