################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Adelaide/bin/Debug
/.vs/slnx.sqlite
/Adelaide/obj/Debug/Adelaide.csprojAssemblyReference.cache
